@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Regular.ttf');
}

body {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 14px;
    background-color: #282828;
    color: #ebdbb2;
    max-width: 1200px;
    margin: auto;
    padding: 45px;

}

.profile-text {
    flex: 1; /* Takes remaining space */
    text-align: center;
    vertical-align: middle;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  flex: 0 1 calc(33.333% - 20px);
}

#name {
    text-align: center;
    letter-spacing: 7px;
}

a:link {
  color: #b8bb26;
}

a:visited {
    color: #928374;
}

a:hover {
    color: #fabd2f;
}
